@model LogInViewModel

@{
    ViewBag.Title = "User Login";
  
   
}

<div class="row">
    <div class="col-md-6">
        <h1>Local Account Login</h1>
        <hr />
        <form method="post">
            <div class="form-group">
                <label asp-for="Email" class="col-form-label col-md-2"></label>
                <div class="col-sm-10">
                    <input asp-for="Email" placeholder="Email..." class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="col-form-label col-md-2"></label>
                <div class="col-sm-10">
                    <input asp-for="Password" placeholder="Password..." class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group ">
                <div class="custom-checkbox">
                    <label asp-for="RememberMe" class="col-form-label ml-3">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(x => x.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group ml-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>
    <div class="col-md-6">
        <h1>External Login</h1>
        <hr />
        @if(Model.ExternalLogins.Count == 0)
        {
            <div>No external Logins configure</div>
        }
        else 
        {
            <form  method="post" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                <div>
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <button type="submit" class="btn btn-primary" name="provider"
                                value="@provider.Name" title="Login using your @provider.DisplayName account">
                            @provider.DisplayName
                        </button>
                    }

                </div>

            </form>
        }
    </div>
</div>